{% extends 'base.html.twig' %}

{% block title %}
    Author #{{ author.id }} {{ author.firstName }} {{ author.middleName }} {{ author.lastName }}
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Author page</h1>

    <div>
        Full name: {{ author.firstName }} {{ author.middleName }} {{ author.lastName }}
    </div>
    <div>
        Lived in: {{ author.birthDate|date("m/d/Y") }} - {{ author.deathDate|date("m/d/Y") }}
    </div>
    <di>
        Bio: {{ author.biography }}
    </di>
</div>
{% endblock %}
